In [1]:
?read.table

In [1]:
sp500 <- read.csv(paste('http://ichart.finance.yahoo.com/table.csv?', 
                        's=%5EGSPC&a=03&b=1&c=1999&d=03&e=1&f=2009&g=m&ignore=.csv', sep=''))

Warning message in file(file, "rt"):
"InternetOpenUrl失败:’无法解析服务器的名称或地址'"

ERROR: Error in file(file, "rt"): 无法打开链结

In [2]:
salary <- c(18700000, 14626720, 14137500, 13980000, 12916666)
position <- c('QB', 'QB', 'DE', 'QB', 'QB')
team <- c('Colts', 'Patriots', 'Panthers', 'Bengals', 'Giants')
name.last <- c('Manning', 'Brady', 'Pepper', 'Palmer', 'Manning')
name.first <- c('Peyton', 'Tom', 'Julius', 'Carson', 'Eli')

In [3]:
top.5.salaries <- data.frame(name.last, name.first, team, position, salary)

In [4]:
top.5.salaries

  name.last name.first team     position salary
1 Manning   Peyton     Colts    QB       18700000
2 Brady     Tom        Patriots QB       14626720
3 Pepper    Julius     Panthers DE       14137500
4 Palmer    Carson     Bengals  QB       13980000
5 Manning   Eli        Giants   QB       12916666

In [5]:
top.5.salaries <- edit(top.5.salaries)

ERROR: Error in edit(top.5.salaries): 'edit()' not yet supported in the Jupyter R kernel